{% extends "/html/base.html" %}
{% block content %}


  <div class="grid">
    <div class="col-1"></div>
    <div class="col-9">
      <p class="mission-statement">
      Artists, makers, coders &mdash; we all must return to craftsmanship! For there is no such thing as “art by profession". There is no essential difference between the artist and the artisan. The artist is an exalted artisan.
      </p>
    </div>
  </div>

  <div class="grid">
    <div class="col-7 col-sm-1"></div>
    <div class="col-13 col-sm-19" style="background: black">
      <h2 class="very-large">Artists who code<br>
        - - - <br>
      Coders who art</h2>
    </div>
  </div>

  <div class="grid">
    <div class="col-20">
      <h2>Projects</h2>
    </div>
    <div class="col-1"></div>

    {% for post in latest-posts %}
      {% ifequal post.collection "projects" %}
        {% include /html/post-tile.html %}
      {% endifequal %}
    {% endfor %}

    <div class="project">
      <p class="info">
      <a href="/pages/projects/">View All Projects &rarr;</a></p>
    </div>
  </div>

  <div class="grid">
    <div class="col-20 h1c"></div>
    <div class="col-13 col-sm-19" style="background: white">
      <h2 class="very-large">Artists who code<br>
        - - - <br>
      Coders who art</h2>
    </div>
  </div>

  <div class="grid">
    <div class="col-20">
      <h2>Posts</h2>
    </div>
    <div class="col-1 col-sm-0"></div>


    {% for post in latest-posts %}
      {% ifequal post.collection "projects" %}
        {% include /html/post-tile.html %}
      {% endifequal %}
    {% endfor %}
  </div>



<script>
$('.projects.list').slick({
    infinite: true,
    slidesToShow: 3,
    slidesToScroll: 3,
    arrows: true
});
</script>

{% endblock %}

