{% extends "/html/base.html" %}
{% block content %}


  <div class="grid">
    <div class="col-20" style="height: 2rem"></div>
    <div class="col-1"></div>
    <div class="col-5 col-sm-12 col-xs-18">
      <p class="mission-statement">
      ANUCC is a community of artists and programmers at the Australian National University interested in the potential of technology to create new forms of art and performance. We meet monthly and all are welcome. Contact <a href="mailto:ben.swift@anu.edu.au">Ben Swift</a> to get involved.
      </p>
    </div>
    <div class="col-1 col-sm-20"></div>
    <div class="col-0 col-sm-1"></div>
    <div class="col-13 col-sm-19" style="background: black">
      <h2 class="very-large">Artists who code<br>
        - - - <br>
      Coders who art</h2>
    </div>
  </div>

  <div class="grid">
    <div class="col-20" style="height: 2rem"></div>
  </div>

  <div class="grid">
    <div class="col-20">
      <h2 class="pl2c">Projects</h2>
    </div>
    <div class="col-1"></div>
    <div class="col-18 slider">
        {% for post in latest-posts %}
          {% ifequal post.collection "projects" %}
            {% include /html/post-tile.html %}
          {% endifequal %}
        {% endfor %}
        <div class="col-6 col-sm-18 left-pad post-tile">
          <div class="img">
            <img src="{{ post.thumbnail }}" alt="">
          </div>
          <p class="info">
            <a href="/pages/projects/">View All Projects &rarr;</a></p>
        </div>
    </div>


    <div class="col-20" style="height: 2rem"></div>
  </div>

  <div class="grid">
    <div class="col-20 h1c"></div>
    <div class="col-13 col-sm-19" style="background: white">
      <h2 class="very-large">Artists who code<br>
        - - - <br>
      Coders who art</h2>
    </div>
  </div>

  <div class="grid">
    <div class="col-20" style="height: 2rem"></div>
    <div class="col-20">
      <h2 class="pl2c">Posts</h2>
    </div>
    <div class="col-1"></div>


    <div class="col-18 slider">
        {% for post in latest-posts %}
        {% ifequal post.collection "posts" %}
        {% include /html/post-tile.html %}
        {% endifequal %}
        {% endfor %}

        <div class="col-6 col-sm-18 left-pad post-tile">
          <div class="img">
            <img src="{{ post.thumbnail }}" alt="">
          </div>
          <p class="info">
            <a href="/pages/projects/">View All Projects &rarr;</a></p>
        </div>
    </div>

  </div>



<script>
$('.slider').slick({
    infinite: true,
    slidesToShow: 3,
    slidesToScroll: 3,
    arrows: true,
    responsive: [
    {
        breakpoint: 900,
        settings: {
            slidesToShow: 2,
            slidesToScroll: 2,
            infinite: true
        }
    },
    {
        breakpoint: 550,
        settings: {
            slidesToShow: 1,
            slidesToScroll: 1,
            infinite: true
        }
    }
    ]
});
</script>

{% endblock %}

