{% extends "/html/base.html" %}
{% block content %}


  <div class="grid">
    <div class="col-1"></div>
    <div class="col-9">
      <p class="mission-statement">
      Artists, makers, coders &mdash; we all must return to craftsmanship! For there is no such thing as “art by profession". There is no essential difference between the artist and the artisan. The artist is an exalted artisan.
      </p>
    </div>
  </div>

  <div class="grid">
    <div class="col-7 col-sm-1"></div>
    <div class="col-13 col-sm-19" style="background: black">
      <h2 class="very-large">Artists who code<br>
        - - - <br>
      Coders who art</h2>
    </div>
  </div>

  <div class="grid">
    <div class="col-20">
      <h2>Projects</h2>
    </div>
    <div class="col-1"></div>
    <div class="col-18 projects list">
        <div class="project">
          <img src="http://dataisnature.com/images/20130529u.jpg" alt="">
          <p class="info">Bone Music<br>
          By <a href="">Jon McCabe &rarr;</a></p>
          </p>
        </div>
        <div class="project">
          <img src="http://i.telegraph.co.uk/multimedia/archive/01911/e-coli-code_1911930c.jpg" alt="">
          <p class="info">E-Coli<br>
          By <a href="">Jane Citizen &rarr;</a></p>
        </div>
        <div class="project">
          <img src="http://1m021b21rhkw44qvpa3igdua.wpengine.netdna-cdn.com/files/2014/11/livecoding-300x225.jpg" alt="">
          <p class="info">Live Code Session<br>
          By <a href="">Ben Swift &rarr;</a></p>
        </div>
        <div class="project">
          <img src="http://dataisnature.com/images/20130529u.jpg" alt="">
          <p class="info">Bone Music<br>
          By <a href="">Jon McCabe &rarr;</a></p>
          </p>
        </div>
        <div class="project">
          <img src="http://i.telegraph.co.uk/multimedia/archive/01911/e-coli-code_1911930c.jpg" alt="">
          <p class="info">E-Coli<br>
          By <a href="">Jane Citizen &rarr;</a></p>
        </div>
        <div class="project">
          <p class="info">
          <a href="">View All &rarr;</a></p>
        </div>
    </div>
  </div>

  <div class="grid">
    <div class="col-20 h1c"></div>
    <div class="col-13 col-sm-19" style="background: white">
      <h2 class="very-large">Artists who code<br>
        - - - <br>
      Coders who art</h2>
    </div>
  </div>

  <div class="grid">
    <div class="col-20">
      <h2>Posts</h2>
    </div>
    <div class="col-1 col-sm-0"></div>


    {% for post in latest-posts %}
      {% ifequal post.collection "projects" %}
        <div class="col-6 col-sm-18 left-stripe">
            <img src="{{ post.thumbnail }}" alt="">
            <p class="info">{{post.title}}<br>
            By <a href="{{post.uri}}">{{post.author}} &rarr;</a>
            </p>
        </div>
      {% endifequal %}
    {% endfor %}
  </div>



<script>
$('.projects.list').slick({
    infinite: true,
    slidesToShow: 3,
    slidesToScroll: 3,
    arrows: true
});
</script>

{% endblock %}

